<h3>Лабораторная работа №4. Симлекс метод для решения задач линейного программирования</h3>

<h4>Вариант 7</h4>

$-2x_1+x_2+x_3-x_4 \rightarrow max$

$3x_1+x_2+2x_3+6x_4=15$

$x_1+2x_2-x_3+2x_4=5$

$x_i\geq0, i=1,4$

In [1]:
import pandas as pd
import numpy as np

<h4>Строю таблицу, добавив 2 базисные переменные $x_5$ и $x_6$</h4>

In [2]:
data = pd.DataFrame({
    "Basis value": [None, 0, 0, None],
    "x1": [-2, 3, 1, 2],
    "x2": [1, 1, 2, -1],
    "x3": [1, 2, -1, -1],
    "x4": [-1, 6, 2, 1],
    "x5": [0, 1, 0, 0],
    "x6": [0, 0, 1, 0],
    "B": [None, 15, 5, 0],
    "Basis variable": [None, "x5", "x6", None]
}, index=["coefs", "basis1", "basis2", "func"])

data

        Basis value  x1  x2  x3  x4  x5  x6     B Basis variable
coefs           NaN  -2   1   1  -1   0   0   NaN           None
basis1          0.0   3   1   2   6   1   0  15.0             x5
basis2          0.0   1   2  -1   2   0   1   5.0             x6
func            NaN   2  -1  -1   1   0   0   0.0           None

<p>Функция, проверяющая условие остановы</p>

In [3]:
def is_optimum(data):
    return np.all(data.loc["func", "x1": "x6"] >= 0)

In [4]:
is_optimum(data)

False

<p>Функция, производящая шаг симплекс преобразования</p>

In [5]:
def optimizer_step(data):
    new_data = data.copy()
    #Нахождение ведущего столбца
    leading_column_name = data.columns[np.argmin(data.loc["func", "x1":"x6"]) + 1]
    #Нахождение ведущей строки
    leading_row_name = data.index[np.argmin(data.loc["basis1":"basis2", "B"] / data.loc["basis1":"basis2", leading_column_name]) + 1]
    #Нахождение ведущего элемента
    leading_element = data.loc[leading_row_name, leading_column_name]
    #Установка значения целевой функции найденного ведущего элемента на место базиса
    new_data.loc[leading_row_name, "Basis value"] = data.loc["coefs", leading_column_name]
    new_data.loc[leading_row_name, "Basis variable"] = leading_column_name
    #Все элементы ведущей строки делятся на ведущий элемент
    new_data.loc[leading_row_name, "x1":"B"] /= leading_element
    #Все элементы ведущего столбца кроме ведущего элемента зануляются
    column = new_data.loc["basis1":"func", leading_column_name]
    column[column.index != leading_row_name] = 0
    #Теперь преобразуются все остальные элементы
    for col_idx, column in enumerate([name for name in ["x1", "x2", "x3", "x4", "x5", "x6", "B"] if name != leading_column_name]):
        for row_idx, row in enumerate([name for name in ["basis1", "basis2"] if name != leading_row_name]):
            new_data.loc[row, column] = data.loc[row, column] - data.loc[row, leading_column_name] * new_data.loc[leading_row_name, column]
    #Осталось пересчитать функцию
    for col_idx, column in enumerate([name for name in ["x1", "x2", "x3", "x4", "x5", "x6"] if name != leading_column_name]):
        value = 0
        for row_idx, row in enumerate([name for name in ["basis1", "basis2"]]):
            value += new_data.loc[row, column] * new_data.loc[row, "Basis value"]
        new_data.loc["func", column] = value - new_data.loc["coefs", column]
    new_data.loc["func", "B"] = np.sum(new_data.loc["basis1":"basis2", "B"] * new_data.loc["basis1":"basis2", "Basis value"])
    return new_data

<h4>Функция оптимизации методом симплекса</h4>

In [6]:
def optimize(data, max_iter=5):
    data = data.copy()
    it = 0
    print("Начальные данные")
    display(data)
    while not is_optimum(data) and it < max_iter:
        data = optimizer_step(data)
        print(f"Шаг {it + 1}")
        display(data)
        it += 1
    if it == max_iter:
        print("Невозможно оптимизировать")
        return
    print("Результат:")
    return data

<h4>Проверка метода симплекса</h4>

In [7]:
optimize(data)

Начальные данные

        Basis value  x1  x2  x3  x4  x5  x6     B Basis variable
coefs           NaN  -2   1   1  -1   0   0   NaN           None
basis1          0.0   3   1   2   6   1   0  15.0             x5
basis2          0.0   1   2  -1   2   0   1   5.0             x6
func            NaN   2  -1  -1   1   0   0   0.0           None

Шаг 1

        Basis value   x1   x2   x3   x4   x5   x6     B Basis variable
coefs           NaN -2.0  1.0  1.0 -1.0  0.0  0.0   NaN           None
basis1          0.0  2.5  0.0  2.5  5.0  1.0 -0.5  12.5             x5
basis2          1.0  0.5  1.0 -0.5  1.0  0.0  0.5   2.5             x2
func            NaN  2.5  0.0 -1.5  2.0  0.0  0.5   2.5           None

Шаг 2

        Basis value   x1   x2   x3    x4   x5   x6     B Basis variable
coefs           NaN -2.0  1.0  1.0  -1.0  0.0  0.0   NaN           None
basis1          0.0  5.0  5.0  0.0  10.0  1.0  2.0  25.0             x5
basis2          1.0 -1.0 -2.0  1.0  -2.0 -0.0 -1.0  -5.0             x3
func            NaN  1.0 -3.0  0.0  -1.0  0.0 -1.0  -5.0           None

Шаг 3

        Basis value   x1   x2   x3   x4   x5   x6     B Basis variable
coefs           NaN -2.0  1.0  1.0 -1.0  0.0  0.0   NaN           None
basis1          0.0  2.5  0.0  2.5  5.0  1.0 -0.5  12.5             x5
basis2          1.0  0.5  1.0 -0.5  1.0  0.0  0.5   2.5             x2
func            NaN  2.5  0.0 -1.5  2.0  0.0  0.5   2.5           None

Шаг 4

        Basis value   x1   x2   x3    x4   x5   x6     B Basis variable
coefs           NaN -2.0  1.0  1.0  -1.0  0.0  0.0   NaN           None
basis1          0.0  5.0  5.0  0.0  10.0  1.0  2.0  25.0             x5
basis2          1.0 -1.0 -2.0  1.0  -2.0 -0.0 -1.0  -5.0             x3
func            NaN  1.0 -3.0  0.0  -1.0  0.0 -1.0  -5.0           None

Шаг 5

        Basis value   x1   x2   x3   x4   x5   x6     B Basis variable
coefs           NaN -2.0  1.0  1.0 -1.0  0.0  0.0   NaN           None
basis1          0.0  2.5  0.0  2.5  5.0  1.0 -0.5  12.5             x5
basis2          1.0  0.5  1.0 -0.5  1.0  0.0  0.5   2.5             x2
func            NaN  2.5  0.0 -1.5  2.0  0.0  0.5   2.5           None

Невозможно оптимизировать

<h4>Попытка оптимизировать другие данные</h4>

<h4>Вариант 1</h4>

$x_1-3x_2-5x_3-x_4 \rightarrow max$

$x_1+4x_2+4x_3+x_4=5$

$x_1+7x_2-8x_3+2x_4=9$

$x_i\geq0, i=1,4$

In [8]:
data = pd.DataFrame({
    "Basis value": [None, 0, 0, None],
    "x1": [1, 1, 1, -1],
    "x2": [-3, 4, 7, 3],
    "x3": [-5, 4, -8, 5],
    "x4": [-1, 1, 2, 1],
    "x5": [0, 1, 0, 0],
    "x6": [0, 0, 1, 0],
    "B": [None, 5, 9, 0],
    "Basis variable": [None, "x5", "x6", None]
}, index=["coefs", "basis1", "basis2", "func"])

data

        Basis value  x1  x2  x3  x4  x5  x6    B Basis variable
coefs           NaN   1  -3  -5  -1   0   0  NaN           None
basis1          0.0   1   4   4   1   1   0  5.0             x5
basis2          0.0   1   7  -8   2   0   1  9.0             x6
func            NaN  -1   3   5   1   0   0  0.0           None

In [9]:
optimize(data)

Начальные данные

        Basis value  x1  x2  x3  x4  x5  x6    B Basis variable
coefs           NaN   1  -3  -5  -1   0   0  NaN           None
basis1          0.0   1   4   4   1   1   0  5.0             x5
basis2          0.0   1   7  -8   2   0   1  9.0             x6
func            NaN  -1   3   5   1   0   0  0.0           None

Шаг 1

        Basis value   x1   x2    x3   x4   x5   x6    B Basis variable
coefs           NaN  1.0 -3.0  -5.0 -1.0  0.0  0.0  NaN           None
basis1          1.0  1.0  4.0   4.0  1.0  1.0  0.0  5.0             x1
basis2          0.0  0.0  3.0 -12.0  1.0 -1.0  1.0  4.0             x6
func            NaN  0.0  7.0   9.0  2.0  1.0  0.0  5.0           None

Результат:

        Basis value   x1   x2    x3   x4   x5   x6    B Basis variable
coefs           NaN  1.0 -3.0  -5.0 -1.0  0.0  0.0  NaN           None
basis1          1.0  1.0  4.0   4.0  1.0  1.0  0.0  5.0             x1
basis2          0.0  0.0  3.0 -12.0  1.0 -1.0  1.0  4.0             x6
func            NaN  0.0  7.0   9.0  2.0  1.0  0.0  5.0           None

<h4>Оптимизатор работает</h4>